<app-contact></app-contact>

<section class="inibla-breadcrumb">
  <div class="container">
    <ul class="breadcrumbs-custom-path">
      <li><a href="/joinus" i18n>join as vendor</a></li>
      <li class="active" i18n><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span>how it works</li>
    </ul>
  </div>
</section>

<section class="inibla-about1 py-4" id="intro">
  <div class="new-block top-bottom py-lg-5 py-md-4">
    <div class="container">
      <div class="title-content text-center">
        <h6 class="sub-title" i18n>Let's get you started</h6>
        <h3 class="title-big" i18n>How to become a vendor</h3>
      </div>

      <div class="row mt-lg-5 pt-10">
        <div class="col-md-3 left-restaurant">
        </div>
        <div class="col-md-6 middle-section text-center align-self">
          <div class="section-width mb-lg-4 py-4">
            <h2 i18n>It is EASY, FAST and AFFORDABLE</h2>
            <p class="mt-4" i18n>Being a vendor partner with Inibla means that you are providing a service that
              our customers desire and are as committed to providing an exemplary level of customer service and quality
              as we are. It also means having access to thousands of customers across Addis Ababa without having to
              spend more money on rental space, marketing, and more</p>
          </div>
        </div>
        <div class="col-md-3 right-restaurant mt-md-0">
        </div>
      </div>

    </div>
  </div>
  <div class="container py-lg-5 py-md-4">
    <div class="row">
      <div class="col-lg-4 col-md-4 align-self mt-md-0 mt-5">
        <h3 i18n>1.Apply to be a partner</h3>
        <p class="mt-md-4 mt-3 mb-0" i18n>Use the form provided to tell us more about your business so we can begin the
          process</p>
      </div>
      <div class="col-lg-4 col-md-4 align-self mt-md-0 mt-5">
        <h3 i18n>2.We start the evaluation</h3>
        <p class="mt-md-4 mt-3 mb-0" i18n>We will evaluate your application and send someone to shop at your premise as
          a regular customer</p>
      </div>
      <div class="col-lg-4 col-md-4 align-self mt-md-0 mt-5">
        <h3 i18n>3.We will contact you</h3>
        <p class="mt-md-4 mt-3 mb-0" i18n>If the evaluation steps are completed successfully, we will reach out to you with
          the next steps</p>
      </div>
    </div>
  </div>
</section>

<section class="inibla-breadcrumb mt-10">
  <div class="container">
    <ul class="breadcrumbs-custom-path">
      <li i18n><a href="/joinus">joining as driver</a></li>
      <li class="active" i18n><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span>how it works</li>
    </ul>
  </div>
</section>

<section class="inibla-about1 py-5" id="intro" style="padding-top: 0px !important;">
  <div class="new-block top-bottom py-4 py-lg-5 py-md-4">
    <div class="container">
      <div class="title-content text-center mt-10">
        <h6 class="sub-title" i18n>Join our fleet of riders</h6>
        <h3 class="title-big" i18n>How to become a driver</h3>
      </div>

      <div class="row mt-lg-5 mt-4 mt-10">
        <div class="col-md-3 left-rider">
        </div>
        <div class="col-md-6 middle-section text-center align-self">
          <div class="section-width mb-lg-4 py-4">
            <h3 i18n>1. Apply to be a rider</h3>
            <h3 i18n>2. Verification of rider</h3>
            <h3 i18n>3. We will contact you</h3>
            <p class="mt-4" i18n>Only riders who pass our
              verification and onboarding process can join our fleet. All our riders are pre-scanned, trained, have a
              valid driving license and their bikes meet inibla
              standards. Our riders enjoy incentives and riders' loyalty program based on their performance.</p>
          </div>
        </div>
        <div class="col-md-3 right-rider mt-md-0 mt-4">
        </div>
      </div>

    </div>
  </div>
</section>

<!-- <button (click)="topFunction()" id="movetop" title="Go to top">&#10548;</button> -->
