<app-contact></app-contact>

<section class="inibla-breadcrumb">
  <div class="container">
    <ul class="breadcrumbs-custom-path">
      <li i18n><a href="/">Home</a></li>
      <li class="active" i18n><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span>FAQ</li>
    </ul>
  </div>
</section>

<section class="w3-faqs py-4" id="stats">
  <div class="container py-lg-5 py-md-4">
    <div class="title-content text-center">
      <h6 class="sub-title" i18n>frequently asked questions</h6>
      <h3 class="title-big" i18n>Want to find out more about inibla? Have a look.</h3>
    </div>
  </div>
</section>

<section class="inibla-breadcrumb">
  <div class="container" style="background-color: white;">
    <div class="row">
      <div class="col">
        <h3 class="pt-10 mt-10" i18n><i class="fa fa-question" aria-hidden="true"></i> General Questions</h3>
        <div class="tabs">
          <div class="tab">
            <input type="radio" id="rd1" name="rd">
            <label class="tab-label" for="rd1" i18n>How does it work ?</label>
            <div class="tab-content" i18n>
              We deliver to our customers from anywhere our customers would like. We take your order online and
              place it with the vendor from which you ordered from.
            </div>
          </div>
          <div class="tab">
            <input type="radio" id="rd2" name="rd">
            <label class="tab-label" for="rd2" i18n>Can I order from more than one vendor at a time ?</label>
            <div class="tab-content" i18n>
              If you'd like to order from more than one restaurant, you can place multiple orders. We only support
              ordering from one restaurant per order and the quoted delivery fees per order will apply due to the
              increased time and number of stops.
            </div>
          </div>
          <div class="tab">
            <input type="radio" id="rd3" name="rd">
            <label class="tab-label" for="rd3" i18n>Do you charge for delivery?
              ?</label>
            <div class="tab-content" i18n>
              Yes! Our delivery fee varies depending on your distance from the vendor location.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h3 class="pt-10 mt-10" i18n><i class="fa fa-question" aria-hidden="true"></i> Vendor Questions</h3>
        <div class="tabs">
          <div class="tab">
            <input type="radio" id="rd4" name="rd">
            <label class="tab-label" for="rd4" i18n>What happens if I have changed my item prices ?</label>
            <div class="tab-content" i18n>
              If there has been a menu change, we will contact you to make sure the price difference is ok.
            </div>
          </div>
          <div class="tab">
            <input type="radio" id="rd5" name="rd">
            <label class="tab-label" for="rd5" i18n>How do I follow up my order records ?</label>
            <div class="tab-content" i18n>
              Other than the customer applivation, We have a the vendors' application that allows you to not only track
              your order records, But also allows you to manage your business as a whole.
            </div>
          </div>
          <div class="tab">
            <input type="radio" id="rd6" name="rd">
            <label class="tab-label" for="rd6" i18n>How do you take into account, the packaging of my various items to ensure
              they reach the customer in good state ?</label>
            <div class="tab-content" i18n>
              We have differnt package boxes for both hot or warm orders as well as for cool or cold orders.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h3 class="pt-10 mt-10" i18n><i class="fa fa-question" aria-hidden="true"></i> Driver Questions</h3>
        <div class="tabs">
          <div class="tab">
            <input type="radio" id="rd7" name="rd">
            <label class="tab-label" for="rd7" i18n>Who do I call if there is a mistake with my Order ?</label>
            <div class="tab-content" i18n>
              Please call <b>+251904149609</b> within thirty minutes of delivery If there is anything missing or
              incorrect. We
              will get incorrect items replaced; missing items delivered or arrange for credit towards your next order.
              To use your credit please call the office to place your order.
            </div>
          </div>
          <div class="tab">
            <input type="radio" id="rd8" name="rd">
            <label class="tab-label" for="rd8" i18n>How do I join as a delivery driver ?</label>
            <div class="tab-content" i18n>
              You could fill out the form provided in our website, or pay us a visit at our offices indicated in the
              Contac Us Page or you could give us a call through this number <b>+251904149609</b>, and we'll get in
              touch with you for more details.
            </div>
          </div>
          <div class="tab">
            <input type="radio" id="rd9" name="rd">
            <label class="tab-label" for="rd9" i18n>Is there a limit in the number of delivery trips I can make in a day
              ?</label>
            <div class="tab-content" i18n>
              No! You can make as much trips as the orders are available from our differnt vendors.
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

