<app-contact></app-contact>

<section class="inibla-breadcrumb">
  <div class="container">
    <ul class="breadcrumbs-custom-path">
      <li i18n><a href="/">Home</a></li>
      <li class="active" i18n><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> About Us</li>
    </ul>
  </div>
</section>

<section class="inibla-about1 py-4" id="intro">
  <div class="new-block top-bottom py-lg-5 py-md-4">
    <div class="container">
      <div class="title-content text-center">
        <h6 class="sub-title" i18n>who we are</h6>
        <h3 class="title-big" i18n>About us</h3>
      </div>
      <div class="row mt-lg-5">
        <div class="col-md-3 left-section">
        </div>
        <div class="col-md-6 middle-section text-center align-self">
          <div class="section-width mb-lg-4 py-4">
            <h2 i18n>Best-in-Class B2B Crowdsourced Last-Mile Delivery for emerging markets</h2>
            <p class="mt-4" i18n>Inibla is an on-demand courier service that purchases, picks up, and delivers products
              ordered
              through its mobile app. It aspires to be a multi-category lifestyle app with food delivery being the most
              popular offering</p>
          </div>         
        </div>
        <div class="col-md-3 right-section mt-md-0">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="inibla-form-12">
  <div class="form-12-content py-5" id="services">
    <div class="container py-lg-5 py-md-4">
      <div class="row">
        <div class="col-lg-4 column1 align-self">
          <h4 i18n>Hassle-Free Cash Collection Process</h4>
          <p i18n>Because +80% of deliveries in the Addis Ababa region require cash-on-delivery, we built a Digital Wallet
            for
            every business and driver dealing with us. The result is a very organized payment process which includes
            paying
            back the cash we collected for you in weekly payment cycles through a list of supported banks with no
            additional transferring fees.</p>
        </div>
        <div class="col-lg-8 column2 mt-lg-0 mt-sm-5 mt-4">
          <div class="row">
            <div class="col-md-3 col-sm-6 col-6">
              <a href="/">
                <div class="courses-item">
                  <img src="assets/images/track.png" alt="avatar" class="images">
                  <p i18n>Order<br>Tracking</p>
                </div>
              </a>
            </div>
            <div class="col-md-3 col-sm-6 col-6">
              <a href="/">
                <div class="courses-item">
                  <img src="assets/images/cod.png" alt="avatar" class="images">
                  <p i18n>Cash On<br>Delivery</p>
                </div>
              </a>
            </div>
            <div class="col-md-3 col-sm-6 col-6 mt-md-0 mt-sm-4 mt-3">
              <a href="/">
                <div class="courses-item">
                  <img src="assets/images/support.jpg" alt="avatar" class="images">
                  <p i18n>Customers<br>Support</p>
                </div>
              </a>
            </div>
            <div class="col-md-3 col-sm-6 col-6 mt-md-0 mt-sm-4 mt-3">
              <a href="/">
                <div class="courses-item">
                  <img src="assets/images/bikes.png" alt="avatar" class="images">
                  <p i18n>Verified<br>Drivers</p>
                </div>
              </a>
            </div>
            <div class="col-md-3 col-sm-6 col-6 mt-sm-4 mt-3">
              <a href="/">
                <div class="courses-item mt-2">
                  <img src="assets/images/intergration.jpg" alt="avatar" class="images">
                  <p i18n>Easy<br>Intergration</p>
                </div>
              </a>
            </div>
            <div class="col-md-3 col-sm-6 col-6 mt-sm-4 mt-3">
              <a href="/">
                <div class="courses-item mt-2">
                  <img src="assets/images/pricing.jpg" alt="avatar" class="images">
                  <p i18n>Transparent<br>Pricing</p>
                </div>
              </a>
            </div>
            <div class="col-md-3 col-sm-6 col-6 mt-sm-4 mt-3">
              <a href="/">
                <div class="courses-item mt-2">
                  <img src="assets/images/insurance.jpg" alt="avatar" class="images">
                  <p i18n>Insurance<br>Policy</p>
                </div>
              </a>
            </div>
            <div class="col-md-3 col-sm-6 col-6 mt-sm-4 mt-3">
              <a href="/">
                <div class="courses-item mt-2">
                  <img src="assets/images/return.jpg" alt="avatar" class="images">
                  <p i18n>Flexible Return<br>Policy</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="w3-stats py-5" id="stats">
  <div class="container py-lg-5 py-md-4">
    <div class="title-content text-center">
      <h6 class="sub-title" i18n>Our facts</h6>
      <h3 class="title-big" i18n>Why we are unique? Have a look.</h3>
    </div>
    <div class="w3-stats">
      <div class="row">
        <div class="col-sm-4 col-4">
          <div class="counter">
            <span class="fa fa-users"></span>
            <div class="timer count-title count-number mt-3" data-to="8000" data-speed="1000">
              <p class="count-text" i18n>8000+</p>
            </div>
            <p class="count-text" i18n>registered customers</p>
          </div>
        </div>
        <div class="col-sm-4 col-4">
          <div class="counter">
            <span class="fa fa-smile-o"></span>
            <div class="timer count-title count-number mt-3" data-to="90000" data-speed="1000">
              <p class="count-text" i18n>90000+</p>
            </div>
            <p class="count-text" i18n>page views/month</p>
          </div>
        </div>
        <div class="col-sm-4 col-4">
          <div class="counter">
            <span class="fa fa-database"></span>
            <div class="timer count-title count-number mt-3" data-to="1000000" data-speed="1000">
              <p class="count-text" i18n>1000000+</p>
            </div>
            <p class="count-text" i18n>value of goods sold/month (ETB)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <button (click)="topFunction()" id="movetop" title="Go to top">&#10548;</button> -->
