<div class="modal right fade" id="DomainModal" tabindex="-1" role="dialog" aria-labelledby="DomainModalLabel2">
  <div class="modal-dialog device-640" role="document">
    <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>

      <div class="modal-body">
        <div class="modal__content">
          <h2 class="logo inibla-title">
            <img src="assets/images/inibla_orange_circle.png" alt="inibla" title="inibla" class="logo-height" />inibla
          </h2>
          <p class="mt-md-3 mt-2" i18n>Food Delivery and More. You Order, We Get it!</p>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3940.819479253154!2d38.78681741478627!3d8.988752893548794!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x164b85c67dcafc89%3A0x313e859bcc45d06e!2sAA%20Advanced%20Information%20Technology!5e0!3m2!1sen!2set!4v1590052600375!5m2!1sen!2set"
            width="600" height="450" frameborder="0" class="img-fluid radius-image mt-4" allowfullscreen=""
            aria-hidden="false" tabindex="0"></iframe>
          <div class="widget-social-icons mt-sm-5 mt-4">
            <h5 class="widget-title" i18n>Contact Us</h5>
            <ul class="icon-rounded address">
              <li>
                <p i18n>Office 506 Dashen Bldg, Addis Ababa</p>
              </li>
              <li class="mt-3">
                <p><span class="fa fa-phone"></span> <a i18n href="tel:+251-904-14-9609">+251-904-14-9609</a></p>
              </li>&nbsp;
              <li class="mt-2">
                <p><span class="fa fa-envelope"></span> <a href="mailto:onboard@inibla.com">onboard@inibla.com</a></p>
              </li>
              <li class="mt-2">
                <p><span class="fa fa-clock-o"></span> <a i18n href="mailto:onboard@inibla.com">Mon - Fri : 09:00 am to
                    10:00
                    pm</a></p>
              </li>
              <li class="mt-2">
                <p><span class="fa fa-clock-o"></span> <a i18n href="mailto:onboard@inibla.com">After Office Hours
                    : 24/7</a>
                </p>
              </li>
            </ul>
          </div>
          <div class="widget-social-icons mt-sm-5 mt-4">
            <h5 class="widget-title" i18n>Follow Us</h5>
            <ul class="icon-rounded">
              <li><a class="social-link telegram" href="https://t.me/inibla" target="_blank"><span
                    class="fa fa-telegram"></span></a>
              </li>
              <li><a class="social-link instagram" href="https://www.instagram.com/inibla.eat/" target="_blank"><span
                    class="fa fa-instagram"></span></a>
              </li>
              <li><a class="social-link facebook" href="https://fb.me/inibla.eat" target="_blank"><span
                    class="fa fa-facebook"></span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
