<!-- footers 20 -->
<section class="inibla-footers-20">
  <div class="footers20">
    <div class="container">
      <div class="footers20-content">
        <div class="d-grid grid-col-4 grids-content">
          <div class="column">
            <h4 i18n>Address</h4>
            <p class="contact-para3" i18n>Office 601, 6th Floor, Ras Dashen Building, Addis Ababa, Ethiopia</p>
            <a href="mailto:onboard@inibla.com">
              <p class="contact-mail mt-2">onboard@inibla.com</p>
            </a>          
          </div>

          <div class="column">
            <h4 i18n>Get In Touch</h4>
            <p i18n>Want to know more about us or have a question? Read our FAQ's or contact us!</p>
            <a href="tel:+251-904-14-9609">
              <p class="contact-phone mt-2" i18n>+251-90-414-9609</p>
            </a>
          </div>
          <div class="column">
            <h4 i18n>Opening Hours</h4>
            <p i18n>Monday - Friday</p>
            <p class="mt-2" i18n>09:00 am to 10:00 pm</p>

            <p class="mt-2" i18n>After Office Hours<br>24/7 </p>
          </div>
          <div class="column">
            <h4 i18n>Download App</h4>
            <a href="https://appliedline.com" target="_blank">
              <img src="assets/images/appstore.png" class="appstore" />
            </a>
            <a href="https://appliedline.com" target="_blank">
              <img src="assets/images/playstore.png" class="playstore" />
            </a>
          </div>
        </div>
        <div class="d-grid grid-col-3 grids-content1 bottom-border">
          <div class="columns copyright-grid">
            <p class="copy-footer-29">
              <small i18n>© 2020 inibla. All rights reserved</small> &bull;
              <a (click)="topFunction()" routerLink="/termsofservice" i18n><small>Terms of Service</small></a>
            </p>
          </div>
          <div class="columns text-right social-grid">
            <ul class="social">
              <li><a class="social-link telegram" href="https://t.me/inibla" target="_blank"><span
                    class="fa fa-telegram"></span></a>
              </li>
              <li><a class="social-link instagram" href="https://www.instagram.com/inibla.eat/" target="_blank"><span
                    class="fa fa-instagram"></span></a>
              </li>
              <li><a class="social-link facebook" href="https://fb.me/inibla.eat" target="_blank"><span
                    class="fa fa-facebook"></span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
