<app-contact></app-contact>

<div class="inibla-banner" id="banner">
  <div class="new-block">
    <div class="container">
      <div class="row middle-section">
        <div class="col-lg-5 history-info pt-lg-0 pt-md-4">
          <img src="assets/images/moses.png" class="img-fluid img-moses" alt="image">
        </div>
        <div class="col-lg-7 section-width align-self img-homepage">
          <h2 class="pt-10 advert" i18n>You order, we get it!</h2>
          <h4 class="mt-4" i18n>Follow your orders
            with the Inibla App</h4>
          <h6 class="pt-10" i18n>Watch the progress of your deliveries
            in real-time and order from anywhere</h6>
          <a href="https://appliedline.com" target="_blank">
            <img src="assets/images/appstore.png" class="appstore mt-4" />
          </a>
          <a href="https://appliedline.com" target="_blank">
            <img src="assets/images/playstore.png" class="playstore  mt-4 ml-10" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="inibla-about py-5">
  <div class="container py-lg-5 py-md-4">
    <div class="row">
      <div class="col-lg-6">
        <h3 i18n>Anything in Addis Ababa city Delivered in minutes</h3>
        <h5 class="mt-lg-3 mt-2" i18n>Discover the stores in demand and have us deliver what you want on demand.
        </h5>
        <p class="mt-sm-4 mt-3 mb-sm-0 mb-2 p" i18n> Hypercharge your business by becoming a partner and leveraging the
          tools,
          the tech, and the customer base that brings an entire city to your door.</p>
        <a (click)="topFunction()" routerLink="/joinus" class="btn-style btn-primary btn mt-lg-5 mt-4" i18n>Partner with
          us</a>
      </div>
      <div class="col-lg-6 mt-lg-0 mt-5">
        <div class="row">
          <div class="col-6 features-with-17-left1">
            <a routerLink="/" class="icon" (click)="topFunction()"><img src="assets/images/pizza.png" alt="" /></a>
            <h4 i18n><a routerLink="/" style="color: black;" (click)="topFunction()">Right food cooked with natural ingredient</a></h4>
          </div>
          <div class="col-6 features-with-17-left1">
            <a routerLink="/" class="icon" (click)="topFunction()"><img src="assets/images/burger.png" alt="" /></a>
            <h4 i18n><a routerLink="/" style="color: black;" (click)="topFunction()">The use of natural best quality products</a></h4>
          </div>
          <div class="col-6 features-with-17-left1 mt-5 pt-lg-3">
            <a routerLink="/" class="icon" (click)="topFunction()"><img src="assets/images/drink.png" alt="" /></a>
            <h4 i18n><a routerLink="/" style="color: black;" (click)="topFunction()"> Whether hot or cold food or drinks, we have the best package boxes
                for you!</a></h4>
          </div>
          <div class="col-6 features-with-17-left1 mt-5 pt-lg-3">
            <a routerLink="/" class="icon" (click)="topFunction()"><img src="assets/images/fries.png" alt="" /></a>
            <h4 i18n><a routerLink="/" style="color: black;" (click)="topFunction()">Fastest delivery on your door step</a></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="w3l-block">
  <div class="container py-lg-5 py-md-4">
    <div class="row">
      <div class="col-lg-4 col-md-6 align-self">
        <h3 i18n>Choose a vendor, place the order, set your location</h3>
        <p class="mt-md-4 mt-3 mb-0" i18n>Deliveries are priced depending on your distance from the vendor. Once logged
          in, you'll be able to see which vendor you can order from.</p>
        <a (click)="topFunction()" routerLink="/joinus" class="btn-style btn-primary btn mt-lg-5 mt-4" i18n>
          Get Started</a>
      </div>
      <div class="col-lg-4 col-md-6 align-self mt-md-0 mt-5">
        <h3 i18n>Earn points every time you complete an order</h3>
        <p class="mt-md-4 mt-3 mb-0" i18n> Everytime you make a complete order,
          you will be awarded 10 points,that you can redeem as your delivery fee once you reach a cumulative of 100
          points.</p>
        <a (click)="topFunction()" routerLink="/faq" class="btn-style btn-primary btn mt-lg-5 mt-4" i18n>
          Learn More</a>
      </div>
      <div class="col-lg-4 mt-lg-0 mt-5">
        <img src="assets/images/osiro.png" class="img-fluid radius-image" alt="image">
      </div>
    </div>
  </div>
</section>

<section class="w3l-portfolio-8 py-5">
  <div class="portfolio-main py-lg-5 py-md-4">
    <div class="container">
      <div class="title-content text-center">
        <h6 class="sub-title" i18n>Clients Gallery</h6>
        <h3 class="title-big" i18n>Some of Our Vendors</h3>
      </div>
      <div class="row galler-top mt-lg-5 mt-4">
        <div class="col-md-3 col-6 protfolio-item hover14 align-self">
          <a href="/" data-lightbox="example-set" data-title="clients">
            <figure>
              <img src="assets/images/umami.jpg" alt="product" class="img-fluid radius-image">
            </figure>
          </a>
        </div>
        <div class="col-md-3 col-6 protfolio-item hover14">
          <a href="/" data-lightbox="example-set" class="mb-4" data-title="clients">
            <figure>
              <img src="assets/images/natani.jpg" alt="product" class="img-fluid radius-image">
            </figure>
          </a>
          <a href="/" data-lightbox="example-set" data-title="clients">
            <figure>
              <img src="assets/images/in&out.jpg" alt="product" class="img-fluid radius-image">
            </figure>
          </a>
        </div>
        <div class="col-md-3 col-6 protfolio-item hover14">
          <a href="/" data-lightbox="example-set" class="mb-4" data-title="clients">
            <figure>
              <img src="assets/images/pizzahut.jpg" alt="product" class="img-fluid radius-image">
            </figure>
          </a>
          <a href="/" data-lightbox="example-set" data-title="clients">
            <figure>
              <img src="assets/images/babis.jpg" alt="product" class="img-fluid radius-image">
            </figure>
          </a>
        </div>
        <div class="col-md-3 col-6 protfolio-item hover14 align-self">
          <a href="/" data-lightbox="example-set" data-title="clients">
            <figure>
              <img src="assets/images/wow.jpg" alt="product" class="img-fluid radius-image">
            </figure>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
