.mt-10 {
  margin-top: 15px;
}

.text {
  text-transform: uppercase;
}

.row-left {
  width: 30%;
  float: left;
  position: fixed;
  padding-right: 55px;
  top: 110px;
}

.row-right {
  width: 70%;
  margin-left: 32%;
}

.list-body li {
  cursor: pointer;
}

.scroll-left-row {
  overflow-y: scroll;
  height: 70.5vh;
}

@media (max-width: 994px) {
  .row-left {
    display: none;
  }

  .row-right {
    width: 100%;
    margin-left: 0%;
  }
}

@media (max-width: 995px) {
  .row-right {
    margin-left: 0% !important;
  }

}

@media (max-width: 1295px) {
  .row-right {
    margin-left: 28%;
  }
}

@media (min-width: 1296px) {
  .row-right {
    margin-left: 35%;
  }
}
